.light-mode {
    background-color: #e0e0e0;
    

    .App {
        background: #e0e0e0;
        color: black;
        transition: background-color 0.1s ease-out;
    }
    #content {
        background-color: white;
        border-radius: 20px;
        transition: background-color 0.1s ease-out;
    }
}

.dark-mode {
    background-color: #464646;
    padding: 10px;
    
    .App {
        background: transparent;
        color: white;
        transition: background-color 0.1s ease-out;
    }
    #content {
        background-color: #232526;
        border-radius: 20px;
        transition: background-color 0.1s ease-out;
    }
}
